
@{
    ViewBag.Title = "Error";
}


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<span style="font-size: 200px; line-height: normal;">Error MMG</span>
<br />
<br />
<button class="btn-block btn-danger"  onclick="location.href='@Url.Action("Agregar_Personas","Home")'">SALIR</button>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
